@media(max-width : 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #1a1a1a;
        padding-left: 20px;
        font-size: 24px;
    }

    .mobile i:hover {
        color: #088178;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #088178;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0px 80px;
        background-position: top 30% right 30%;
    }

    #features {
        margin: 15px 0;
    }

    .section-p1 {
        padding: 40px 40px;
    }

    #product1 .product-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 40vh;
        /* changes in font sizes */
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 40vh;
    }

    #banner3 {
        padding: 0px 40px;
    }

    #banner3 .banner-box {
        width: 30%;
    }

    #newsletter .form {

        width: 70%;
    }

    /* contact page */
    #form-details{
       padding: 40px;
        border: 1px solid #1e1e1e;
    }
    #form-details form{
        width: 45%;
   }
}

@media(max-width : 477px) {
    #pro-details {
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }
    #pro-details .single-pro-details{
        width: 100%;
    }

    /* blog pages */
    #blog{
        padding: 100px 20px 0px 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* contact page */
    #contact-details{
        flex-direction: column; 
        width: 100%;
    }
    #contact-details .details{
        width: 100%;
    }
}